@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comfortaa&family=DM+Serif+Display&family=Montserrat&family=Poppins:wght@700&display=swap');

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.App {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}